.chat {
  margin-top: 4rem;
  width: 100%;
  height: 100%;

  background: url('../images/chat-bg.svg') no-repeat bottom left;
  background-size: contain;
  &__about {
    text-align: center;
  }
  &__header {
    margin: 1rem 0 2rem 0;
  }
  &__desc {
    color: #98a3b9;
    margin-bottom: 3rem;
  }
  &__example {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background: url('../images/chat-bg.svg') no-repeat bottom right;
    background-size: contain;
  }
}

.chat-box {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}

.chat-single-wrap {
  max-width: 400px;
}

.chat-single {
  display: flex;
  &__text {
    color: #24355a;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    overflow-wrap: break-word;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  }
  &__avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
    margin-top: -1.5rem;
  }
  &__crop {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
  }
  &__img {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  &__timestamp {
    width: 100%;
    text-align: right;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: #aab2b7;
  }
}

.chat-response {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 2rem;
  button {
    padding: 25px 10px;
    align-self: flex-end;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
  }
  &__timestamp {
    text-align: right;
    font-size: 0.75rem;
    color: #aab2b7;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .chat {
    &__about {
      padding: 5rem 0;
      text-align: left;
    }
    &__desc {
      padding-right: 10rem;
    }
  }
}
