.top-fold {
  &__wrapper {
    margin-top: 50px;
  }
  &__title {
    font: font(x-large);
    margin-bottom: ws(x-small)
  }

  &__subtitle {
    font: font(medium);
    color: color(saphire);
    margin-bottom: 30px;
  }

}
