#top-fold {
  .wrapper {
    margin-top: 50px;
  }
  .title {
    font: font(x-large);
    margin-bottom: ws(x-small)
  }

  .subtitle {
    font: font(medium);
    color: color(saphire);
    margin-bottom: 30px;
  }

}
