<div class="about">
  <h2 class="about__header" id="about">About Our App</h3>

  <h3 class="about__sub-header">Awesome features to convince you to use our mobile app</h3>

  <div class="row features">
    <div class="four columns">
      {{> icon gradient=true img="images/stats-icon.svg" }}
      <h4 class="features__header">Follow your stats</h4>
      <p class="features__desc">This is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="four columns">
      {{> icon gradient=false img="images/chat-icon.svg" }}
      <h4 class="features__header">Chat with co-workers</h4>
      <p class="features__desc">It is a long established fact that a reader will be distracted by the.</p>
    </div>
    <div class="four columns">
      {{> icon gradient=false img="images/smartphone-icon.svg" }}
      <h4 class="features__header">Smartphone compatible</h4>
      <p class="features__desc">There are many variations of passages of Lorem Ipsum </p>
    </div>
  </div>
</div>
