
<div class="row" class="top-fold">
  <div class="top-fold__wrapper five columns">

    <h2 class="top-fold__title">Stay connected with friends</h2>
    <h3 class="top-fold__subtitle">Create amazing landing page quickly.</h3>

    {{> button text="Get started" gradient=true }}

    <div class="down">
      <a href="#about" class="down__arrow-wrap">
        <i class="fas fa-angle-down down__arrow"></i>
      </a>
    </div>

  </div>

  <div class="columns seven iphone">
    <img class="iphone__img" src="../dist/images/iphone.png" alt="iPhone X">
  </div>
</div>
