
<div class="row" id="top-fold">
  <div class="wrapper five columns">

    <h2 class="title">Stay connected with friends</h2>
    <h3 class='subtitle'>Create amazing landing page quickly.</h3>

    {{> button text="Get started" gradient=true }}

  </div>
</div>
