  <footer>
    <div class="row">
      <div class="columns six copyright">
        <h3 class="copyright__name">App Landing Page</h3>
        <p class="copyright__details">Copyright © Your Company <br /> All rights reserved</p>
      </div>
      <div class="columns six footer-nav">
        <ul>
          <li><a href="#chat">Chat</a></li>
          <li><a href="#stats">Statistics</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li>{{> button text="Get started" gradient=true }}</li>
        </ul>
      </div>
    </div>
  </footer>

    </main>
    <script src="js/bundle.js"></script>
  </body>
</html>
