<div class="menu">
  <div class='menu__dropdown'>
    <button class='menu__btn'>Menu <i class="fas fa-angle-down"></i></button>
    <div class='menu__content'>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>

