<div class="row stats">
  <div class="columns six stats-about" id="stats">
    <h3 class="stats-about__header">Statistics Widget</h3>
    <p class="stats-about__desc">This is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
    {{> button text="Get started" gradient=false pink=true }}
  </div>
  <div class="columns six stats-preview"></div>
</div>
