<div class="row testimonials">
  <div class="columns six testimonials-preview"></div>
  <div class="columns six testimonials-about" id="testimonials">

    <h3 class="testimonials-about__header">Testimonials</h3>

    <p class="testimonials-about__desc">“Currently, this sells six sedans and coupes in North America with the Fiesta, Focus, Fusion, C-Max, Mustang and Taurus. This lineup hits multiple segments from the compact Fiest”</p>

    <div class="author">
      <div class="author__avatar">
        <div class="author__avatar--crop">
          <img class="author__img" src="images/user.png" alt="user avatar">
        </div>
      </div>
      <div class="author__info">
        <p class="author__name">Emily Jørgensen</p>
        <p class="author__title">Author at Panoply Store</p>
      </div>
    </div>

    <div class="navigation">

      <div class="arrow">
        <a href="#about" class="arrow__wrap">
          <i class="fas fa-angle-left arrow__icon"></i>
        </a>
      </div>

      <div class="arrow">
        <a href="#about" class="arrow__wrap">
          <i class="fas fa-angle-right arrow__icon"></i>
        </a>
      </div>

    </div>

  </div>
</div>
